/* Frances Vu */
/* introduction.css */
/* CMPT 120 Project 1, November 30, 2016 */

body {
	color: white;
	background-color: black;
	text-align: center;
	font-family: "Press Start 2P";
}

h1 {
	color: white;
	background-color: black;
	font-size: 50px;
	border: solid;
	border-color: white;
	border-width: 10px;
	padding: 20px;
	margin-left: 100px;
	margin-right: 100px;
}

h3 {
	font-size: 30px;
}

#name {
	font-size: 20px;
}

#ttt {
	height: 400px;
	width: 400px;
	float: left;
	margin: 0px 0px 0px 100px;
}

#deshead {
	font-size: 20px;
}

#description {
	text-align: left;
	text-indent: 2.5em;
	font-size: 16px;
	border-style: dotted;
	border-width: 5px;
	border-color: white;
	margin-left: 700px;
	margin-right: 100px;
	padding: 10px;
}

ol {
	text-align: left;
	font-size: 16px;
	margin-left: 200px;
	margin-right: 50px;
}

#starting {
	margin-left: auto;
	margin-right: auto;
	margin-top: 450px;
	margin-bottom: 250px;
}

#stepshead {
	font-size: 20px;
}

.steps {
	margin-left: 500px;
}


