/* Frances Vu */
/* tictactoe.css */
/* CMPT 120 Project 4, November 30, 2016 */

body {
	background-color: black;
	color: white;
	font-family: "Press Start 2P";
} 

h1 {
	text-align: center;
	font-family: "Press Start 2P";
	font-size: 65px;
	text-decoration: underline;
}

#currentplayer {
	text-align: center;
	font-size: 50px;
}

table {
	margin-left: auto;
	margin-right: auto;
	height: 300px;
	width: 300px;
	border-color: Transparent;
}

button {
	height:100px;
	width:100px;
	background-color: Transparent;
	font-size: 50px;
	font-family: "Press Start 2P";
	border-color: white;
	color: white;
}

#reset {
	height: 30px;
	width: 105px;
	font-size: 18px;
	position: relative;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	font-family: "Press Start 2P";
	margin-top: 50px;
}

#outside {
	margin-left: auto;
	margin-right: auto;
}


